# 컨테이너(Container)

여러 개의 값을 저장할 수 있는 것(객체)을 의미하며, `서로 다른 자료형`을 저장 할 수 있습니다.

### 컨테이너 분류
- 시퀀스(Sequence)형 : 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형 : 순서가 없는(unordered) 데이터

<img width="712" alt="container" src="https://user-images.githubusercontent.com/45934087/148164052-3b12d3a2-a95e-4d4d-ae25-86ca1ba9657b.png">

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

### 특징
1. 순서가 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 다루지 않습니다.


### 리스트 (List)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**생성과 접근**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

In [3]:
my_list = [] # 무에서 유를 만들 때
another_list = list() # 기존 데이터를 기반으로 리스트를 만들 때
print(my_list, another_list)
type([])

[] []

list

In [ ]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수 location을 출력해 봅시다.
# location의 타입을 출력해 봅시다.

In [100]:
locations = ['서울', '대구', '제주', '하남', '위례', ]

# 1. 변수명 -> 복.수.형
# 2. = 앞, 뒤는 띄어쓰기
# 3. , 뒤에 띄어쓰기
# 4. 마지막에도 ,는 쓰기 (trailing comma) 특히 여러줄일 때는 반드시 쓴다!

type(locations)

list

In [ ]:
# location의 첫번째 값을 인덱스로 접근해 봅시다.

In [5]:
locations[1]

'대구'


순서가 있는 시퀀스로 인덱스를 통해 접근 가능합니다.
- 값에 대한 접근은 `list[idx]` 방식으로 접근합니다.

![image](https://user-images.githubusercontent.com/45934087/148164331-f0ff4193-6b05-4d99-bbde-dd1eef13b0b1.png)

In [ ]:
# 변수 boxes에 문자열 'A', 'B', 리스트 ['apple', 'banana', 'cherry']를 할당합니다.

In [9]:
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]

In [10]:
# boxes의 길이를 len 함수를 이용하여 출력해 봅시다.

In [11]:
len(boxes)

3

In [12]:
# boxes의 3번째 요소를 인덱스로 접근하여 출력해 봅시다.

In [13]:
boxes[2]

['apple', 'banana', 'cherry']

In [ ]:
# boxes의 3번째 요소들 중, 마지막 요소를 negative index로 접근하여 출력해 봅시다.

In [15]:
boxes[2][-1]

'cherry'

In [ ]:
# boxes의 마지막 요소들 중, 두번째 요소의 첫번째 문자열을 출력해 봅시다.

In [17]:
boxes[-1][1][0]

'b'

In [22]:
# 할당(값을 수정 가능)

boxes[0] = 'c'
boxes[1] = '지우'
boxes

['c', '지우', ['apple', 'banana', 'cherry']]

### 튜플 (Tuple)

**생성과 접근**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

- tuple은 수정 불가능(불변, immutable)합니다.

- 직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

In [26]:
t1 = (1,2)
t2 = (1 + 2)
t2

3

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.

In [29]:
t2 = 1, 2, 3
type(t2)

tuple

In [30]:
x = 1
y = 2

x, y

(1, 2)

**튜플 생성 주의 사항**
- 단일 항목의 경우

In [31]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다. -> 중요!!!
# 아래 코드를 실행하여 변수 a의 타입을 확인해 봅시다.

a = (1, ) # comma 없으면 int로 나옴
type(a)

tuple

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

In [32]:
t1 = (1, )
type(t1)

tuple

In [ ]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

- 복수 항목의 경우

In [1]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
# 아래 코드를 실행하여 변수 b와 c의 타입을 확인해 봅시다.

In [33]:
b = 1, 2, 3
type(b)

tuple

In [34]:
c = 1, 2, 3, 
type(c)

tuple

**튜플 대입**
- 우변의 값을 좌변의 변수에 한번에 할당하는 과정을 의미합니다.
- 튜플은 일반적으로 파이썬 내부에서 활용됩니다.
    - 추후 함수 파트에서 복수의 값을 반환하는 경우에도 확인할 수 있습니다.

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

In [35]:
x, y = 1, 2

In [36]:
# 실제로는 tuple로 처리됩니다.

In [39]:
(x, y) = (1, 2)

In [40]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [43]:
empty = ()
type(empty)

tuple

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

In [42]:
tt = (1, 2, 3)

tt[0]  # 가능 (시퀀스 - 순서 있으니까 idx 접근 가능)
tt[0] = 100  # 불가능 (immutable)

TypeError: 'tuple' object does not support item assignment

### 레인지 (range())

`range` 는 정수의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.

In [44]:
range(3)

# Range는 범위라는 단어이지만, 0 <= x < 3 즉, 0,1,2,1.1,2.3132456.... -> 이거 아님!! 정수만 int만 포함!

range(0, 3)

In [ ]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.

In [46]:
r = range(0, 10)  #range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.

In [48]:
list(range(4, 9))

[4, 5, 6, 7, 8]

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [54]:
print(range(10) == range(0, 10) == range(0, 10, 1))

r1 = range(0, 11, 2)
r2 = range(0, -10, -1)
list(r1), list(r2)

True

([0, 2, 4, 6, 8, 10], [0, -1, -2, -3, -4, -5, -6, -7, -8, -9])

In [57]:
range(10)[-1] = 10

# idx 접근 가능. 즉, 순서가 있음
# idx 수정은 불가능 => immutable

TypeError: 'range' object does not support item assignment

### 패킹 / 언패킹 연산자 (Packing / Unpacking Operator)
모든 시퀀스형(리스트, 튜플 등)은 패킹/언패킹 연산자 * 를 사용하여 객체의 패킹 또는 언패킹이 가능합니다.
```python
x, *y = i, j, k ...
```

In [58]:
x, *y = 1, 2, 3, 4  # *(애스터리스크)의 뜻은 기타 등등. 즉, 기타 등등은 다 y에 할당 (패킹해줘)

In [59]:
print(x)
type(x)

1

int

In [60]:
print(y)  # print([2, 3, 4])
print(*y)  # print(2, 3, 4) 압축 해제!! 언패킹
type(y)

[2, 3, 4]
2 3 4

list

**언패킹**
- argument 이름이 *로 시작하는 경우, argument unpacking이라고 부릅니다.
- 패킹의 경우, 리스트로 대입합니다.

In [62]:
def multiply(x, y, z):
    return x * y * z

- 언패킹의 경우, 튜플 형태로 대입합니다.

In [63]:
numbers = [1, 2, 3]
print(multiply(2, 2, 2))
multiply(numbers)  # multiply([1, 2, 3]) x자리에 이 리스트가 그대로 들어가버린다. 그리고 y와 z에는 할당 x
multiply(*numbers)  # multiply(1, 2, 3) 얘는 왜 될까? 압축 해제했으니까!

8

TypeError: multiply() missing 2 required positional arguments: 'y' and 'z'

**패킹**
- 대입문의 좌변 변수에 위치합니다.
- 우변의 객체 수가 좌변의 변수 수보다 많을 경우 객체를 순서대로 대입합니다.
- 나머지 항목들은 모두 별 기호 표시된 변수에 리스트로 대입합니다.

**패킹/언패킹 연산자 주의사항**

` * ` 연산자가 곱셈을 의미하는지 패킹/언패킹 연산자인지 구분하여야 합니다.
- 패킹/언패킹 연산자의 경우
    1. 연산자가 대입식의 좌측에 위치하는 경우
    2. 연산자가 단항 연산자로 사용되는 경우
        - 단항 연산자 : 하나의 항을 대상으로 연산이 이루어지는 연산자
        
        
- 산술연산자의 경우
    1. 연산자가 이항연산자로 사용되는 경우
        - 이항 연산자 : 두 개의 항을 대상으로 연산이 이루어지는 연산자

In [ ]:
1 + 2 # + 연산을 위해 필요한 값 -> 2개 -> 2항 연산자
3 - 2 # 2항 연산자


not True #True 1개 -> 단항 연산자
+3 # 2항연산자..? ㄴㄴ 같은 + 연산자지만, 상황에 따라 단항 연산자
-1
print(*[1, 2, 3]) # 같은 * 기호를 쓰지만, 뜻이 다른 단항 연산자

## 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

### 세트 (Set)

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 담고있는 객체를 삽입 변경, 삭제 가능 (mutable) 합니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

**생성과 접근**
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [64]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

* 차집합은 연산자 `-`를 사용합니다.

In [65]:
# set_a와 set_b의 차집합을 구해봅시다.

In [67]:
s1 - s2

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [68]:
# set_a와 set_b의 합집합을 구해봅시다.

In [69]:
s1 | s2

{1, 2, 3, 4, 5}

* 교집합은 연산자 `&`을 사용합니다.

In [70]:
# set_a와 set_b의 교집합을 구해봅시다.

In [71]:
s1 & s2

{3}

In [72]:
# set은 중복된 값이 있을 수 없습니다.

In [74]:
s3 = {1, 1, 1, 2, 3}
s3

{1, 2, 3}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [75]:
# set으로 중복된 값을 제거해봅시다.
# 문자열 서울, 서울, 대전, 광주, 서울, 대전, 부산, 부산를 원소로 가지는 set를 만듭니다.
# 생성한 세트의 길이를 출력해 봅시다.

In [77]:
s4 = {'서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산'} # 가나다 순으로 나옴. 즉, 순서가 없고, 순서를 보장할 수 없음
len(s4)

4

In [ ]:
# 생성한 세트를 출력해 봅시다.
# 세트는 순서를 보장하지 않습니다.

In [80]:
print(s4)

s4.add('제주')

{'제주', '서울', '광주', '대전', '부산'}

In [82]:
# set는 중복제거에 특화됨

numbers = [1, 1, 1, 2, 2, 3, 3, 4]
uniqs = list(set(numbers))

uniqs

[1, 2, 3, 4]

### 딕셔너리 (dictionary)

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

**생성과 접근**

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* 순서를 보장하지 않습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.

In [84]:
d1 = {}
d2 = dict()
d1 == d2, type(d1)

(True, dict)

In [ ]:
# dictionary에 중복된 key는 존재할 수 없습니다.

In [90]:
{'a': 1, 'a': 2, 'a': 3}

{'a': 3}

In [ ]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02

In [94]:
phone_book = {
    '서울': '02', 
    '부산': '051', 
    '대구': '053',
    '제주': '031', 
    '인천': '032', 
}

# key 뒤에는 띄어쓰기 없이 콜론(:)작성, 밸류 전에는 띄어쓰기 필요!

# 접근 (key를 알고 있어야 함) 없는 키로 접근 시 에러

phone_book['서울']

# 수정 (key를 알고 있어야 함)
phone_book['서울'] = '022'

# 추가
phone_book['평양'] = '냉면'


# 변경 -> key가 이미 존재한다면 수정, key가 없었다면 추가

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

# .이 붙었는데 ()가 있는 경우는 메소드라고 부른다.

In [98]:
phone_book.keys()

dict_keys(['서울', '부산', '대구', '제주', '인천', '평양'])

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [89]:
phone_book.values()

dict_values(['02', '051', '053', '031', '032'])

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [99]:
students = [
    {'name': '김재석', 'major': '심리', 'location': '분당', 'mbti': 'INFP'} #이 딕셔너리는 여러가지 데이터가 있지만 변수명은 단수형이다.
]

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다. ctrl + shift로 주석 빼고 넣기 가능!!
# 형변환 후의 결과를 확인 합니다.

In [102]:
# list를 형변환 해봅시다.

l = [1, 2, 3, 4]
str(l)  # list => st·str(l)  # list => str
# tuple(l)  # list => tuple
# set(l)  # list => set
# range(l)  # X
# dict(l)  # X

'[1, 2, 3, 4]'

In [108]:
# tuple을 형변환 해봅시다.
t = (1, 2, 3, 4)

str(t)
list(t)
set(t)
# range(t)
# dict(t)

{1, 2, 3, 4}

In [110]:
# range를 형변환 해봅시다.
r = range(1, 5)
str(r)
# list(r)
# set(r)
# tuple(r)
# dict(r)

'range(1, 5)'

In [114]:
# set을 형변환 해봅시다.
s = {1, 2, 3, 4}
str(s)
list(s)
tuple(s)
range(s)
# dict(s)

TypeError: 'set' object cannot be interpreted as an integer

In [115]:
# dictionary를 형변환 해봅시다.
d = {'name': 'jw', 'year': 2023}

str(d)
list(d) # key만 나옴!
tuple(d) # key만 나옴!
set(d) # key만 나옴!

{'name', 'year'}

In [ ]:
# mutable은 인덱싱이 가능하냐의 중요성보다는 객체가 변경 가능한지의 중요성으로 보는게 좋다.

In [118]:
l = [1, 2, 3]
l[0] = 100
l

# 값(객체) 살리는 방법 -> 이름을 부여하거나, 컨테이너에 넣기

l = []
l.append(1000)

# 값(객체) 죽이는 방법 -> 이름 뺐기 / 

s = 1000
s = 'asdf'
del s

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 멤버십 연산자 (Membership Operator)

요소가 시퀀스에 속해있는지 확인할 수 있습니다.
- `in` 연산자
- `not in` 연산자

In [119]:
# 리스트안에 특정한 정수가 있는지 확인해봅시다.
# 정수 1 이 [3, 2] 리스트에 속해있는지 확인해봅시다.
5 in (1, 2, 'hi')

False

In [ ]:
# 튜플안에 특정한 정수가 있는지 확인해봅시다.
# 정수 5가 (1, 2, 'hi') 튜플에 속해있는지 확인해봅시다.

In [ ]:
# range안에 특정한 정수가 있는지 확인해봅시다.
# -3이 range(3) 에 속해있는지 확인해봅시다.

In [120]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
# 문자열 'a' 가 'apple' 에 속해있는지 확인해봅시다.

'a' in 'apple'

True

In [121]:
# 리스트안에 특정한 문자가 없는지 확인해봅시다.
# 문자열 'b' 가 'apple' 에 속해있는지 확인해봅시다.

'b' in 'apple'

False

In [122]:
'a' in {'A': 'a'}  # 왜냐하면 key만 보기 때문에!

False

In [123]:
1 in {1, 2, 3}

True

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [124]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.

[1, 2] + ['a']

[1, 2, 'a']

In [125]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.
(1, 2) + ('a', )

(1, 2, 'a')

In [ ]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.

In [126]:
range(1) + range(2, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [127]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.

[0] * 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [128]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.

(1, 2) * 3

(1, 2, 1, 2, 1, 2)

In [ ]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.

In [ ]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.
# 딕셔너리는 안된다! 왜? 키 값이 중복될 수 없어서

## 기타 : 인덱싱/슬라이싱 (Indexing/Slicing)
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (data structure 챕터에서 자세하게 학습합니다.)

### 인덱싱
시퀀스의 특정 인덱스 값에 접근 할 수 있습니다.
- 해당 인덱스가 없는 경우 IndexError가 발생합니다.

In [131]:
# 리스트를 인덱싱을 통해 값에 접근해봅시다.
# 리스트 [1, 2, 3]의 세번째 값을 인덱싱으로 확인해봅시다.

[1, 2, 3][2] = 10  # 이렇게 바꾸면 값이 없어져버리기 때문에 (바꾼 리스트는 이름이 없기 때문에)

In [ ]:
# 튜플을 인덱싱을 통해 값에 접근해봅시다.
# 튜플 (1, 2, 3)의 첫번째 값을 인덱싱으로 확인해봅시다.

In [132]:
# range를 인덱싱을 통해 값에 접근해봅시다.
# range(3)의 세번째 값을 인덱싱으로 확인해봅시다.

range(3)[2]

2

In [133]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'abc'의 첫번째 값을 인덱싱으로 확인해봅시다.

'abc'[0]

'a'

In [134]:
# 찾고자 하는 인덱스가 존재하지 않을때 오류가 발생합니다.
# 문자열 apple의 100번째 값을 인덱싱으로 확인하고자 할 때 발생하는 오류를 확인해봅시다.

'apple'[100]

IndexError: string index out of range

### 슬라이싱
- Sequence[start:end[:step]]

시퀀스를 특정 단위로 슬라이싱 할 수 있습니다.

In [135]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.

list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [136]:
'''
[시작:끝:스텝]에서 [x:y:z]라고 할 때, 
[x:y] : x <= idx < y 이며, z = 1
[x:] x <= idx < 길이
[:y] 0 <= idx < y
[:] 0 <= idx < 길이
[::-1] range를 거꾸로

''' 
# y 미만이라는 거를 기억하기!

print([1, 2, 3, 4][1:4])  # 4번째 인덱스가 없어도 계산 가능하다.
print((1, 2, 3)[:2])  
print(range(10)[5:8])
print('abcd'[2:4])  # slice 마지막 인덱스가 더 크더라도, 에러가 발생하지 않는다.

[2, 3, 4]
(1, 2)
range(5, 8)
cd

시퀀스를 `k` 간격으로 슬라이싱 할 수 있습니다.

In [ ]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
# 문자열, 튜플, 레인지에서 모두 동일하게 동작합니다.

In [137]:
# 아래의 코드를 실행하여 결과를 확인해 봅시다.
s = 'abcdefghi'
s[2:5]

'cde'

In [138]:
s[::-1]

'ihgfedcba'

In [139]:
s[:4]

'abcd'

In [144]:
# 로또 번호 추첨

'''
1 ~ 45 자연수 중 랜덤하게 6개를 추출한다

1. 1 ~ 45 자연수
2. 랜덤 추출기
'''

import random

random.sample(range(1, 46), 6)

[35, 21, 19, 5, 32, 22]